.contact-section{
max-width:700px;
margin:80px auto;
text-align:center;
padding:50px 20px;
}

.contact-section h2{
font-size:42px;
margin-bottom:15px;
}

.contact-section p{
font-size:20px;
line-height:1.8;
color:#555;
}

.buttons{
margin-top:35px;
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.map-btn,
.whatsapp-btn{

padding:18px 38px;

border-radius:50px;

text-decoration:none;

font-size:20px;

font-weight:bold;

transition:.3s;

}

.map-btn{

background:#9b6b3d;

color:white;

}

.whatsapp-btn{

background:#111;

color:white;

}

.map-btn:hover{

opacity:.9;

}

.whatsapp-btn:hover{

background:#25D366;

}
